---
title: contact
layout: article
date: 20 Nov 2021
author: Eduardo Avila
---

you can contact me via

- Email: 
    -  get lots of email or don’t always have time to answer.    business@eduaravila.com - business AT eduaravila DOT com
- GitHub:
    - check my random code [Here](https://github.com/smollmegumin)
- [LinkedIn](https://www.linkedin.com/in/eduaravila)
- Medium: 
    - somethimes i post [here](https://medium.com/@meguminmegumin)
- Twitter: [@AvilaPcy](https://twitter.com/AvilaPcy)
